<!DOCTYPE html>
<html>
<head>

	<body bgcolor="#E6E623">


<title>Cleaned Data</title>
</head>
<body>
	
<table border="1">
		<thead>
			
<tr>

			</tr>
		
</thead>
		
<tbody>
			
<!-- {%for row in data%}
				
<tr>
					
<td>{{row.encounter_id}}</td>
					
<td>{{row.age}}</td>
					
<td>{{row.weight}}</td>
					
<td>{{row.medical_specialty}}</td>
					
<td>{{row.diag_1}}</td>
					
<td>{{row.diag_3}}</td>
					
<td>{{row.diabetesMed}}</td>
				
</tr>
			{%endfor%} -->
		
</tbody>
	</table>

</body>
</html>